/* METHOD: DESKTOP FIRST */

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* VARIABLES */
:root {
    --header-color: #EAEAEA;
    --notification-color: #8EDAFC;
}

/* COMMON */
.flex {
    display: flex;
}

/* WRAPPER */
.wrapper {
    height: calc(100vh - 60px);
    width: 80%;
    margin: 30px auto;
    /* debug */
    background-color: aquamarine;
}

/* COLUMNS */
.left_clmn {
    width: 30%;
    background-color: blue;
}

.right_clmn {
    width: 70%;
    background-color: lightcoral;
}

/* HEADER */
.header {
     background-color: var(--header-color);
     height: 75px;
}

/* LEFT COLUMNG STYLE */
/* NOTIFICATION  BAR */
.notification_bar {
    background-color: var(--notification-color);
    height: 80px;
}

/* SEARCH BAR */
.search_bar {
    background-color: var(--header-color);
    height: 50px;
    padding: 1em;
}

.search_box {
    background-color: white;
    border-radius: 5px;
    color: lightgray;
}
